<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ViewIt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/accueil.css">
</head>
<header th:replace="~{fragments :: header}"></header>
<body>

    <div class = "top">
        <span class = "recherche" >
            <label for="title">Recherche</label>
            <input type="text" name="title" id="title" class = "form">
        </span>
            <span class = "deroule" >
                <label for="trier">Trier par</label>
                <select name="trier" id="trier" class = "form">
                    <option value="popularite">popularité</option>
                    <option value="genre">genre</option>
                    <option value="recent">Plus récent</option>
                    <option value="ancien">Plus ancien</option>
                </select>
            </span>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>
    <div class = "film">
        <figure>
            <img src="../Images/avengersInfinityWar.jpg" alt="couverture film" style="width:40%">
            <figcaption>89%</figcaption>
        </figure>
    </div>


</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>