<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" dir="ltr">
  <head>
    <title>ViewIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/viewit.css">
  </head>
  <header th:replace="~{fragments :: header}"></header>
  <body>
    <main class="main-AddFilm">
      <section class="addFilmSection">
        <form class="addFilmForm" action="ajoutFilm" method="post">
          <div class="infoAddBlock">
            <label for="titre">Titre</label>
            <div>
              <input type="text" name="titre">
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="resume">Synopsis</label>
            <div>
              <textarea name="resume" rows="8" cols="80" placeholder="Synopsis du film ..."></textarea>
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="realisateur">Réalisateur</label>
            <div>
              <input type="text" name="realisateur">
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="acteur">Acteur</label>
            <div>
              <input type="text" name="acteur">
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="duree">Durée</label>
            <div>
              <input type="number" name="duree" min="0" step="1">
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="date">Date de sortie</label>
            <div>
              <input type="date" name="dateSortie">
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="genre">Genre</label>
            <div>
              <select id="genre-addFilm" name="genre" onfocus="this.size=5;" onblur="this.size=1;" 
        onchange="this.size=1; this.blur();">
                <option th:each="genre : ${genres}" th:text="${genre.nom}" th:id="${genre.id}">Genre</option>
              </select>
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="image">Image de couverture</label>
            <div>
              <input type="file" name="image" id="image-addFilm" accept=".png, .jpg, .jpeg">
            </div>
          </div>
          <div class="infoAddBlock">
            <label for="url">Lien vers la bande annonce (Youtube)</label>
            <div>
              <input type="url" name="url">
            </div>
          </div>

          <div class="div-btn-addFilm">
            <div>
              <input id="btn-addFilm" type="submit" value="Enregistrer">
            </div>
          </div>
        </form>
      </section>
    </main>
  </body>
  <footer th:replace="~{fragments :: footer}"></footer>
</html>
