<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${'ViewIt - ' + film.titre}">ViewIt - Film</title>
		<link rel="stylesheet" type="text/css" href="css/viewit.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header th:replace="~{fragments :: header}"></header>
		<h1 class="titreDetail" th:text="${film.titre}">Avengers : Infinity War</h1>
		<div class="filmDetail">
			<div class="note">98%</div>
			<img id="imgDetail" th:src="@{'images/'+${film.imageName}}" th:alt-title="${film.titre}"/>
			<div id="resumeDetail">
				<div>Synopsis</div>
				<p>
				<div>
				<p th:text="${film.resume}">Résumé du film ...</p>
				</div>
			</div>
			<embed class="bandeAnnonce" th:src="@{'https://youtube.com/embed/'+${film.urlBA}}">
			<div id="infoDetail">
				<div class="realisateur" th:text="${'Réalisateur : ' + film.realisateur}">Réalisateur : ?</div>
				<div class="acteurs" th:text="${'Acteur : ' + film.acteur}">Acteurs : ?</div>
				<div class="duree" th:text="${'Durée : ' + film.duree + ' min'}">Durée : ?</div>
				<div class="datesortie" th:text="${'Date de sortie : ' + #temporals.format(film.DateSortie, 'd MMMM yyyy')}">Date de sortie : ?</div>
				<div class="genre" th:text="${'Genre : ' + film.genre.nom}">Genre : Action</div>
			</div>
		</div>
	</body>
	<footer th:replace="~{fragments :: footer}"></footer>
</html>