<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(ViewIt-GestionGenre)}"></head>
  <body>
	<!-- Navigation menu -->
	<header th:replace="~{fragments :: header}"></header>
	
	<div class="container">
		<div>
			<div>
				<div class="conteneur-genre">
					<div>
						<h3>Genres</h3>
						<div class="zone-recherche-film-genre-user">
							<label for="recherche">Rechercher :</label>
							<input type="text" name="recherche" id="recherche">
						</div>
					</div>
					<div class="ajout">
						<h3>Ajouter un genre:</h3>
						<form method="post">
							<input type="text" name="new_genre" id="name" required>
							<input onclick="if(confirm('Etes vous sur de vouloir supprimer ce genre ?')){}else{return false;}" class="btn-add-genre" type="submit" name="enregistrer" value="Valider">
						</form>	
					</div>

					
				</div>
				<table class="tablelist">
					<thead>
						<tr class="user">
							<th>#</th>
							<th>Nom</th>
							<th>Gestion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="genre : ${listGenres}">
							<td th:text="${genreStat.index+1}">1</td>
							<td th:text="${genre.nom}">Art Martiaux</td>
							<td class="small_column">
								<form method="post">
									<button onclick="if(confirm('Etes vous sur de vouloir supprimer ce genre ?')){}else{return false;}" name="supp" th:value="${genreStat.index}" th:title="'Supprimer ' +${genre.nom}" class="btn-delete" type="submit" th:id="${genreStat.index}"><img class="img_liste" src="../images/icones/supprimer.png"alt="supprimer"></button>
								</form>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
    	</div>
	</div>
  </body>
  <footer th:replace="~{fragments :: footer}"></footer>
</html>