<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(ViewIt-GestionUser)}"></head>
<body>
<!-- Navigation menu -->
<header th:replace="~{fragments :: header}"></header>

<div class="container">
	<div>
		<div>
			<div>
				<h3>Utilisateurs</h3>
				<div id="bloc_ajout_utilisateur">
					<div style="display: flex">
						<h3>Ajouter un Utilisateur ?</h3>
						<button class="btn_add_user" onclick="let actual = document.getElementById('ajout_utilisateur');if(actual.hidden===false){actual.hidden=true;}else{actual.hidden=false;}">+</button>
					</div>
					<form id="ajout_utilisateur" style="color: white" hidden>
						<label for="ajout_mail">E-mail</label>
						<input type="text" name = "mail" id = "ajout_mail" class="ajout_utilisateur" required>
						<label for="ajout_nom">Nom</label>
						<input type="text" name = "nom" id = "ajout_nom" class="ajout_utilisateur" required>
						<label for="ajout_prenom">Prenom</label>
						<input type="text" name = "prenom" id = "ajout_prenom" class="ajout_utilisateur" required>
						<br><br>
						<label for="ajout_mdp">Mot de passe</label>
						<input type="password" name = "mdp" id = "ajout_mdp" class="ajout_utilisateur" required>
						<input type="button" name = "send" id = "ajout_user_send" value="Ajouter un utilisateur" class="ajout_utilisateur_btn">
					</form>
				</div>
				<div id="bloc_modif_utilisateur"  hidden>
					<h3>Modifier un Utilisateur</h3>
					<form id="modif_utilisateur" style="color: white" >
						<label for="modif_mail">E-mail: </label>
						<input type="email" name = "mail" id = "modif_mail" class="ajout_utilisateur">
						<label for="modif_nom">Nom: </label>
						<input type="text" name = "nom" id = "modif_nom" class="ajout_utilisateur">
						<label for="modif_prenom">Prenom: </label>
						<input type="text" name = "prenom" id = "modif_prenom" class="ajout_utilisateur">
						<br><br>
						<label for="previous_mdp">Mot de passe Actuel: </label>
						<input type="password" name = "previous_mdp" id = "previous_mdp" class="ajout_utilisateur">
						<label for="modif_mdp">Nouveau Mot de passe: </label>
						<input type="password" name = "new_mdp" id = "modif_mdp" class="ajout_utilisateur">
						<input type="button" name = "send" id = "modif_send" value="Modifier l'utilisateur" class="ajout_utilisateur_btn">
					</form>
				</div>

				<table class="tablelist">
					<thead>
					<tr class="user">
						<th>#</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Admin</th>
						<th>Gestion</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>