<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ViewIt</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/viewit.css" rel="stylesheet">
  </head>
  <body>
	<!-- Navigation menu -->
	<header th:replace="~{fragments :: header}"></header>

	<div class="container">
		<div>
			<div>
				<h3>Utilisateurs</h3>
        		<div class="zone-recherche-film-genre-user">
          			<label for="recherche">Rechercher :</label>
          			<input type="text" name="recherche" id="recherche">
        		</div>
				<table class="tablelist">
					<thead>
						<tr class="user">
							<th>#</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Admin</th>
							<th>Gestion</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="user : ${listUsers}">
						<td th:text="${userStat.index+1}">1</td>
						<td th:text="${user.prenom}">Quentin</td>
						<td th:text="${user.nom}">Callens</td>
						<td th:text="${user.email}">quentin.callens@hei.yncrea.fr</td>
						<td th:text="${user.admin == 1}? 'Oui' : 'Non'" class="small_column">Oui</td>
						<td class="small_column">
							<div class="column-gestion">
								<form method="post" >
									<button  onclick="if(confirm('Etes vous sur de vouloir changer le rôle de cette utilisateur ?')){}else{return false;}" th:name="${user.admin==0} ? 'up' : 'down'" th:value="${userStat.index}" th:title="${user.admin==1} ? ${'Retrograder '+user.prenom + ' '+user.nom} : ${'Promouvoir '+user.prenom + ' '+user.nom }" class="btn-delete" type="submit" th:id="${userStat.index}"><img class="img_liste" th:src="${user.admin == 0} ? 'images/icones/up.png' : 'images/icones/down_user.png'"></button>
								</form>
								<a href="#"><img class="img_liste" src="images/icones/modification.png"alt="modifier"></a>
								<form method="post">
									<button onclick="if(confirm('Etes vous sur de vouloir supprimer cette utilisateur ?')){}else{return false;}" name="supp" th:value="${userStat.index}" th:title="'Supprimer ' +${user.prenom} +' '+${user.nom}" class="btn-delete" type="submit" th:id="${userStat.index}"><img class="img_liste" src="images/icones/supprimer.png"alt="supprimer"></button>
								</form>
							</div>

						</td>
					</tr>
					</tbody>
				</table>
			</div>
    	</div>
	</div>
  </body>
  <footer th:replace="~{fragments :: footer}"></footer>
</html>