html {
	background : url("../images/background.jpg");
}

/* -------------Détail film------------ */
.titreDetail {
	color : white;
	margin : 0;
	font-size : 300%;
	text-align : center;
}

.filmDetail {
	margin-left : 10%;
	margin-right : 10%;
}

.note {
	color : lightgreen;
	margin-left : 0.5em;
	text-align : left;
	font-size : 200%;
}

#imgDetail {
	width : 30%;
	float : left;
	padding : 0.5em;
}

#resumeDetail {
	color : white;
	width : 65%;
	float : left;
	padding : 0.5em;
	box-sizing : border-box;
	text-align : justify;
	font-size : 120%;
}

#infoDetail {
	color : white;
	width : 100%;
	float : left;
	padding : 0.5em;
	font-size : 120%;
}